---
services:
  consumer:
    build: .
    container_name: consumer
    env_file:
      - .env
    depends_on:
      kafka-init:
        condition: service_completed_successfully
      mongodb:
        condition: service_healthy
      minio-init:
        condition: service_completed_successfully
    restart: unless-stopped

  zookeeper:
    image: confluentinc/cp-zookeeper:7.7.7
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    volumes:
      - zookeeper_data:/var/lib/zookeeper/data
      - zookeeper_log:/var/lib/zookeeper/log
    healthcheck:
      test: ["CMD-SHELL", "echo", "ruok | nc localhost 2181", "|", "grep", "imok"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 3s

  kafka:
    image: confluentinc/cp-kafka:7.7.7
    container_name: kafka
    depends_on:
      zookeeper:
        condition: service_healthy
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_MIN_INSYNC_REPLICAS: 1
      KAFKA_LOG_RETENTION_HOURS: 24
    volumes:
      - kafka_data:/var/lib/kafka/data
    healthcheck:
      test: ["CMD-SHELL", "kafka-broker-api-versions --bootstrap-server kafka:9092 || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s

  mongodb:
    image: mongo:7.0.28
    container_name: mongodb
    ports:
      - "27017:27017"
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD-SHELL", "mongosh --username $MONGO_USER --password $MONGO_PASSWORD --authenticationDatabase admin --eval 'db.adminCommand(\"ping\")'"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 3s

  minio:
    image: minio/minio:RELEASE.2025-04-08T15-41-24Z
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file:
      - .env
    environment:
      MINIO_ROOT_USER: ${AWS_ACCESS_KEY_ID}
      MINIO_ROOT_PASSWORD: ${AWS_SECRET_ACCESS_KEY}
    volumes:
      - minio_data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s

  kafka-init:
    image: confluentinc/cp-kafka:7.7.7
    container_name: kafka-init
    env_file:
      - .env
    depends_on:
      kafka:
        condition: service_healthy
    command: >
      bash -euxo pipefail -c '
        echo "kafka-init started"
        echo "Topics: $KAFKA_RETRIABLE_TOPIC, $KAFKA_IMAGE_TOPIC, $KAFKA_IMAGE_DLQ_TOPIC"

        echo "Waiting for Kafka to be ready..."
        cub kafka-ready -b kafka:9092 1 60

        echo "Creating Kafka topics..."

        kafka-topics --bootstrap-server kafka:9092 \
          --create --if-not-exists \
          --topic "$KAFKA_RETRIABLE_TOPIC" \
          --partitions 1 \
          --replication-factor 1

        kafka-topics --bootstrap-server kafka:9092 \
          --create --if-not-exists \
          --topic "$KAFKA_IMAGE_TOPIC" \
          --partitions 1 \
          --replication-factor 1

        kafka-topics --bootstrap-server kafka:9092 \
          --create --if-not-exists \
          --topic "$KAFKA_IMAGE_DLQ_TOPIC" \
          --partitions 1 \
          --replication-factor 1

        echo "Kafka topics created successfully"
      '
    restart: "no"

  minio-init:
    image: minio/mc
    container_name: minio-init
    env_file:
      - .env
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      echo 'Waiting for MinIO...';
      mc alias set local http://${S3_HOST}:${S3_PORT} ${AWS_ACCESS_KEY_ID} ${AWS_SECRET_ACCESS_KEY};

      echo 'Creating bucket if not exists...';
      mc mb --ignore-existing local/${S3_BUCKET_NAME};
      
      echo 'Bucket ready: ${S3_BUCKET_NAME}';
      "
    restart: "no"

  producer:
    build:
      context: .
      dockerfile: Dockerfile.producer
    container_name: producer
    env_file: .env
    depends_on:
      kafka-init:
        condition: service_completed_successfully
    restart: "no"
    profiles: ["local-test"]

  ingester:
    build:
      context: .
      dockerfile: Dockerfile.ingester
    container_name: ingester
    env_file: .env
    depends_on:
      mongodb:
        condition: service_healthy
    restart: "no"
    profiles: ["local-test"]

volumes:
  mongo_data:
  zookeeper_data:
  zookeeper_log:
  kafka_data:
  minio_data:
